.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

html {
    height: 100%;
}

body {
    background-image: url("/images/test.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

.mb-4 {
    color: bisque;
}

.i {
    display: block;
    margin: auto;
    width: 400px;
    border-radius: 1em;
    opacity: 60%;
}

.isel {
    display: block;
    margin: auto;
    width: 440px;
    border-radius: 2em;
}

h4 {
    color: rgba(255, 246, 246, 0.952);
}

figcaption {
    background-color: rgba(155, 24, 24, 0.452);
    color: rgba(255, 246, 246, 0.952);
    font-style: oblique;
    text-align: center;
    border-radius: 3em;
}

.pmenu {
    padding: 20px;
    margin: 20px;
    border-radius: 1.5em;
    background-color: rgba(255, 228, 196, 0.849);
    font-style: normal;
    color: rgb(150, 4, 4);
    font-size: 1.5em;
}

#footer1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    text-anchor: middle;
    color: white;
}

.c {
    font-family: 'Ubuntu', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;1,400;1,500&display=swap');