@charset "BIG5";

body{
	margin: 0;
}

*:focus-visible{
	outline: 0;
}

.foodstock-page{
	padding: 30px;
}

.foodstock-page .foodstock-container{
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}

.foodstock-page .foodstock-container h2{
	margin: 0;
	margin-bottom: 30px;
	text-align: center;
}

.foodstock-page .foodstock-container ul.foodstock-list{
	padding: 5px;
	list-style: none;
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	padding: 0;
}

.foodstock-page .foodstock-container ul.foodstock-list li.foodstock-item{
	display: flex;
	align-items: center;
	padding: 10px 15px;
}

.foodstock-page .foodstock-container ul.foodstock-list li.foodstock-item:hover{
	background-color: #f9f9f9;
}

.foodstock-page .foodstock-container ul.foodstock-list li.foodstock-item + li.foodstock-item{
	border-top: 1px solid #eee;
}

.foodstock-page .foodstock-container ul.foodstock-list li.foodstock-item label{
	width: 100px;
	font-size: 16px;
	font-weight: bold;
}

.foodstock-page .foodstock-container ul.foodstock-list li.foodstock-item img{
	width: 50px;
	margin-right: 15px;
}

.foodstock-page .foodstock-container ul.foodstock-list li.foodstock-item input{
	flex: 1;
	padding: 10px 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 16px;
}

.foodstock-page .foodstock-container ul.foodstock-list li.foodstock-item input:focus{
	border: 1px solid #969696;
}

.form-footer{
	padding: 15px 0;
	display: flex;
	justify-content: flex-end;
}

.form-footer .form-btn{
	margin-left: 15px;
	padding: 8px 16px;
	border-radius: 3px;
	background-color: #0d6efd;
	color: #ffffff;
	text-decoration: none;
	font-size: 16px;
	transition: all 0.15s ease-in-out;
	cursor: pointer;
	border: 0px;
}

.form-footer .form-btn:disabled{
	background-color: #cdcdcd;
	color: #7a7a7a;
	pointer-events: none;
}



