<!-- <%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%> -->
<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>LaNoodles</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/templ/style.css" rel="stylesheet">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/carousel/">

    <!-- Bootstrap core CSS -->
    <link href="/css/templ/bootstrap.min.css" rel="stylesheet">
    <link href="/css/templ/main.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;1,400;1,500&display=swap" rel="stylesheet">

    <script src="/js/sweetalert2/sweetalert2@11.js"></script>
    <link rel="stylesheet" href="/css/bootstrap5/bootstrap-icons.css">
</head>

<body>

    <div class="wrapper d-flex align-items-stretch">
        <div th:replace="th/templatepage :: sidebar"></div>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">
            <div th:replace="th/templatepage :: navbar"></div>
            <!--大家的內容-->
            <div class="text-center">
                <h1 class="text-center" style="color:#800000;">更新會員密碼</h1><br>
                <form id="memberpassword" style=" margin:auto;width:650px;background:#F5F5F5;border-width:4.5px;border-style:outset;border-color:#880000;padding:55px;border-radius:3em">
                    <table class="table table-striped">
                        <input type="hidden" name="memberAccount" th:field="${memberProfile.memberAccount}" />
                        <tr>
                            <td class="">目前的密碼:</td>
                            <td>
                                <input type="password" name="oldPassword" id="oldPassword" placeholder="請輸入目前的密碼" /><i class="bi bi-eye-slash" id="eyeOldPassword"></i>
                            </td>
                        </tr>
                        <tr>
                            <td class="">新密碼:</td>
                            <td>
                                <input type="password" name="newPassword" id="newPassword" placeholder="請輸入新密碼" /><i class="bi bi-eye-slash" id="eyeNewPassword"></i>
                            </td>
                        </tr>
                        <tr>
                            <td class="">新密碼確認:</td>
                            <td>
                                <input type="password" id="checkNewPassword" placeholder="請再次輸入新密碼" /><i class="bi bi-eye-slash" id="eyeCheckPassword"></i>
                            </td>
                        </tr>
                    </table>
                    <br>
                    <div class="d-grid gap-2 mx-auto">
                        <button class="btn btn-primary" type="submit" id="submit">修改完成</button>
                        <button class="btn btn-warning" type="button" onclick="location.href='/userprofile/profile'">取消</button>
                    </div>
                    <hr>
                    <button class="btn btn-primary" type="button" id="keyInPassword">一鍵輸入</button>
                </form>
            </div>
            <br> <br> <br> <br> <br> <br>

            <!-- FOOTER -->
            <div th:replace="th/templatepage :: footer"></div>

        </div>
    </div>
    <script src="/js/jquery/jquery-3.6.0.min.js"></script>
    <script src="/js/templ/popper.js"></script>
    <script src="/js/templ/bootstrap.min.js"></script>
    <script src="/js/templ/main.js"></script>

    <script>
        function convertFormToJSON(form) {
            const array = $(form).serializeArray(); // Encodes the set of form elements as an array of names and values.
            const json = {};
            $.each(array, function() {
                json[this.name] = this.value || "";
            });
            return json;
        }

        $("#memberpassword").on("submit", function(e) {
            e.preventDefault();
            Swal.fire({
                title: '是否要修改',
                showCancelButton: true,
                confirmButtonText: '確認', //搭配isConfirmed
                cancelButtonText: '取消',
            }).then((result) => {
                if (result.isConfirmed) {
                    const form = $(e.target);
                    const json = convertFormToJSON(form);
                    // console.log(json);
                    console.log(JSON.stringify(json));
                    $.ajax({

                        type: 'put',
                        url: '/password',
                        //                         contentType: "application/json",
                        //                         data: JSON.stringify(json),
                        data: json,
                        success: function(data) {
                            if (data == "success") {
                                window.location.href = "/userpassword/success";
                            } else {
                                window.location.href = "/userprofile/profile";
                            }
                        }
                    });
                }
            });
        });
    </script>

    <script src="/js/member/showUpdatePassword.js"></script>
    <script src="/js/member/updatePassword.js"></script>
</body>

</html>