@sR: #418a95;
@sRLight: #418a95 + #222;
@sRDark: #418a95 - #222;
@darkGrey:#6b6b6b;
@offWhite:#f6f3f7;
@bg:#f6f3f7 - #111;
@darkBg:#f6f3f7 - #222;
*{  
  margin:0;
  padding:0;
  font-family:Lato;
}
body{
  padding:0px;
  background:#f6f3f7 - #111;
}
.bearhand {
    max-height: 50px;  width: 50px;
}
.sharepics {
    max-height: 500px;  width: auto;
}
.flatTable{  
  width:100%;
  min-width:500px;
  border-collapse:collapse;  
  font-weight:bold;
  color:#f6f3f7 - #222;
}
.headingTr{
    height:10px;
    background:#418a95 + #222;
    color:#f6f3f7; 
    font-size:8pt;
    border:0px solid;
}  
.titleTr{
  height:30px;  
  color:#f6f3f7; 
  background:#418a95;  
  border:0px solid;
}
.titleTd2{
  height:30px;  
  color:red; 
  background:#418a95;  
  border:0px solid;
}
.TableTr{
    background:lightgrey;
    font-size:10pt;
    border:0px solid;
}
.pic {
  width: 100px;
  height: 100px;
  margin: 10px;
}
.pic img {
  object-fit: contain;
  width: 100px;
  height: 100px;
}