.step-progress-bar-container {
    width: 100%;
}

.step-progress-bar {
    counter-reset: step;
}

.step-progress-bar li {
    list-style-type: none;
    float: left;
    width: 33.33%;
    position: relative;
    text-align: center;
}

.step-progress-bar li:before {
    /* content: counter(step);
    counter-increment: step; */
    /* content: "\f633"; */
    content: "";
    /* background: url("/TestStepProcessBar/icons/check-circle-fill.svg"); */
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 5px solid #ddd;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: #fff;
}

.step-progress-bar li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #ddd;
    top: 13px;
    /* vertical-align: middle; */
    left: -50%;
    z-index: -1;
}

.step-progress-bar li:first-child:after {
    content: none;
}

.step-progress-bar li.step-active {
    color: green;
}

.step-progress-bar li.step-active:before {
    border-color: green;
    background-color: green;
}

.step-progress-bar li.step-active:after {
    background-color: green;
}