<!-- <%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%> -->
<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>LaNoodles</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/templ/style.css" rel="stylesheet">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/carousel/">

    <!-- Bootstrap core CSS -->
    <link href="/css/templ/bootstrap.min.css" rel="stylesheet">
    <link href="/css/templ/main.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;1,400;1,500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/bootstrap5/bootstrap.min.css">
    <link rel="stylesheet" href="/css/step_process_bar.css">
</head>

<body>

    <div class="wrapper d-flex align-items-stretch">
        <div th:replace="th/templatepage :: sidebar"></div>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">
            <div th:replace="th/templatepage :: navbar"></div>
            <!--大家的內容-->
            <div class="d-flex flex-column container" style="padding: 0">
                <div class="container col-md-6 mx-auto">
                    <h1 class="text-center" style="color:#800000;">加入會員</h1><br> <br>
                    <div class="step-progress-bar-container p-2" >
                        <ul class="step-progress-bar">
                            <li id="1">填寫會員帳號</li>
                            <li id="2">填寫會員資訊</li>
                            <li id="3">完成</li>
                        </ul>
                    </div>
                    <br> <br> <br>
                    <form style="background:#F5F5F5;border-width:4.5px;border-style:outset;border-color:#880000;padding:25px;border-radius:3em" id="memberProfileForm">
                        <h3>會員資訊</h3>
                        <hr>
                        <div class="mb-3">
                            <label for="name" class="form-label">姓名:</label> <input type="text" class="form-control" name="memberName" id="memberName">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">電子信箱:</label> <input type="text" class="form-control" name="memberEmail" id="memberEmail">
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="form-label">電話:</label> <input type="text" class="form-control" name="memberPhone" id="memberPhone">
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="form-label">生日:</label> <input type="date" class="form-control" name="memberBirthday" id="memberBirthday">
                        </div>
                        <hr>
                        <div class="row justify-content-center">
                            <button class="btn btn-primary col-4 m-2" type="submit">送出</button>
                            <button class="btn btn-secondary col-4 m-2" type="button" onclick="location.href='/login/page'">取消</button>
                        </div>
                        <hr>
                        <button class="btn btn-primary" type="button" id="keyInProfile">一鍵輸入</button>
                    </form>
                </div>
            </div>
            <!-- FOOTER -->
            <div th:replace="th/templatepage :: footer"></div>

        </div>
    </div>
    <script src="/js/jquery/jquery-3.6.0.min.js"></script>
    <script src="/js/templ/popper.js"></script>
    <script src="/js/templ/bootstrap.min.js"></script>
    <script src="/js/templ/main.js"></script>
    <script src="/js/sweetalert2/sweetalert2@11.js"></script>
    <script>
        step = 2;
        $('.step-progress-bar').children('li').slice(0, step).addClass("step-active");

        null_check = true;

        function convertFormToJSON(form) {
            const array = $(form).serializeArray();
            const json = {};
            $.each(array, function() {
                json[this.name] = this.value || "";
            });
            return json;
        }

        $("#memberProfileForm").on("submit", function(e) {
            e.preventDefault();
            const form = $(e.target);
            const json = convertFormToJSON(form);
            // console.log(json);
            $.each(json, function(index, value) {
                if (value == null || value == "") {
                    null_check = true;
                    return false;
                } else {
                    null_check = false;
                }
            });

            if (null_check) {
                Swal.fire({
                    icon: 'error',
                    title: '請確認是否有未填寫資料',
                });
            } else {
                $.ajax({
                    type: 'post',
                    url: '/adduser/profile/add',
                    contentType: "application/json",
                    data: JSON.stringify(json),
                    success: function(data) {
                        console.log(data);
                        $.ajax({
                            type: 'post',
                            url: '/member',
                            contentType: "application/json",
                            data: JSON.stringify(data),
                            success: function(data) {
                                console.log(data);
                                window.location.href = "/adduser/success";
                            }
                        });
                    }
                });
            }
        });
    </script>
    <!-- page only -->
    <script src="/js/member/addProfile.js"></script>
</body>

</html>